body {
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  line-height: 24px;
  font-size: 1rem;
}
.hero {
  text-align: center; 
  padding: 30px 0;
  background: #222;
}
.hero img { max-width: 500px; width: 100%; }
.navbar {
  height: 60px;
  background: #111;
}
.navbar__menu {
  margin: 0;
}
.navbar__item {
  margin: 0;
}
.navbar__menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.navbar__menu a {
  display: block;
  line-height: 60px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

.navbar__menu a:hover {
  background: #333;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.content {
  margin: 0 auto;
  width: 75%;
  max-width: 728px;
  padding-top: 50px;
  margin-bottom: 50px;
}
